.footer-container {
  /* height: 90vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  align-content: flex-end;
  padding-top: 40px;
  gap: 1rem;
}

.information-contact {
  width: 40%;
}

.information-contact a {
  text-decoration: none;
  color: black;
  font-size: 105%;
}

/* .email-contact {
  width: 40%;
} */

.text-contact {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 1rem; */
}

.container-phone img {
  padding-right: 5px;
}

.container-phone {
  display: flex;
  align-items: center;
}

body.dark .information-contact p,
body.dark .information-contact a,
body.dark .text-contact p {
  color: #cbcaca;
}
body.dark .information-contact h4 {
  color: #db9515;
}

.img-container {
  text-align: center;
}

@media screen and (max-width: 740px) {
  .footer-container {
    /* height: 95vh; */
    /* padding-top: 45px; */
    display: block;
    padding-left: 4%;
  }

  .information-contact {
    width: 90vw;
  }

  .email-contact {
    width: 90vw;
    padding-top: 5%;
  }
}

@media screen and (max-width: 680px) {
  .email-contact {
    float: none;
  }
}
